PORT=
NODE_ENV=

# PostgreSQL — update with your local credentials
DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASSWORD=

# JWT
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
JWT_ACCESS_EXPIRES=
JWT_REFRESH_EXPIRES=

# Super Admin (auto-created on first run)
SUPER_ADMIN_EMAIL=
SUPER_ADMIN_PASSWORD=

# Frontend URL (for CORS)
CLIENT_URL=